body {
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 20%);
}

h1, h2, h3, h4 {
  margin-top: 0;
  line-height: 1.6;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-bottom: 0.5em;
}

a, a:link, a:visited {
  color: hsl(210, 50%, 30%);
  font-weight: bold;
}

a:hover {
  color: hsl(210, 70%, 40%);
}

header {
  margin-bottom: 1em;
}

.page {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  text-align: left;
  max-width: 700px;
}

article {
  padding: 2em 0em;
  border-bottom: 2px solid black;
}

article:first-child {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 2px solid black;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

.links {
  margin-top: 2em;
  text-align: center;
}

.links a {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: black;
  margin-right: 1.43em;
  font-size: 110%;
  color: white;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

header h1 {
  margin: 0px;
  font-size: 4em;
  line-height: 1.5em;
}

header p {
  font-size: 2em;
  line-height: 1.2em;
}
